Source: canaima-bienvenido-gnome
Section: misc
Priority: optional
Maintainer: Equipo de Desarrollo de Canaima GNU/Linux <desarrolladores@canaima.softwarelibre.gob.ve>
Uploaders: Sasha Veronica Solano Grosjean <sashasolano@gmail.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://canaima.softwarelibre.gob.ve/
Vcs-Git: git://gitorious.org/canaima-gnu-linux/canaima-bienvenido-gnome.git
Vcs-Browser: http://gitorious.org/canaima-gnu-linux/canaima-bienvenido-gnome/trees/master

Package: canaima-bienvenido-gnome
Architecture: all
Depends: python, python-glade2, python-webkit, python-gtk2, xdg-utils, xdg-user-dirs, canaima-estilo-visual-gnome (>= 3.1), ${shlibs:Depends}, ${misc:Depends}
Recommends: ucumari, cunaguaro, guacharo, turpial, gimp, shotwell, simple-scan, libreoffice-draw, libreoffice-writer, libreoffice-calc, libreoffice-impress, totem, pidgin, brasero, exaile, canaima-notas-gnome, pitivi
Replaces: canaima-bienvenido (>= 3.0)
Conflicts: canaima-bienvenido (>= 3.0)
Description: Aplicación de bienvenida para Canaima GNU/Linux
 Muestra una ventana al inicio con las aplicaciones más usadas
 e información para asistir al usuario con la introduccion 
 en el uso del Sistema Operativo.
